<div class="th-checkout__billing-address" data-ng-controller="BillingAddressCtrl" data-ng-switch="isEditable()">

	<div class="styled-checkbox-option" data-ng-switch-when="edit">
		<input type="checkbox" id="chkBillingAddress" name="chkBillingAddress" value="true"
			   data-ng-model="check.useShippingAddress"
			   data-ng-change="setBillingAddress()"/>
		<label for="chkBillingAddress">&nbsp;{{ shippingAddress.address1 }}&nbsp; is also my billing address</label>
	</div>

	<!--Display only-->
	<!--<div class="styled-checkbox-option" data-ng-switch-when="show" data-ng-show="check.useShippingAddress">-->
		<!--<input type="checkbox" id="chkBillingAddressDisplay" name="chkBillingAddressDisplay" value="true"-->
			   <!--data-ng-model="check.useShippingAddress"/>-->
		<!--<label for="chkBillingAddressDisplay">&nbsp;{{ shippingAddress.address1 }}&nbsp; is also my billing address</label>-->
	<!--</div>-->

	<div class="th-checkout__billing-address__display" data-ng-switch-when="show">
		<div class="row" data-ng-show="billingAddress.address1 !== ''">
			<div class="col-xs-12">
				<div class="th-checkout__billing-address__display__addressPart">{{ billingAddress.firstName }}&nbsp;{{ billingAddress.lastName }}</div>
				<div class="th-checkout__billing-address__display__addressPart">{{ billingAddress.address1 }}</div>
				<div data-ng-if="billingAddress.address2 != ''" class="th-checkout__billing-address__display__addressPart">{{ billingAddress.address2 }}</div>
				<div data-ng-show="isLocationUS" class="th-checkout__billing-address__display__addressPart">{{ billingAddress.city }},&nbsp;{{ billingAddress.state }}&nbsp;{{ billingAddress.zip }}</div>
				<div class="row" data-ng-show="!isLocationUS">
					<div class="th-checkout__billing-address__display__addressPart">{{ billingAddress.city }}</div>
					<div class="th-checkout__billing-address__display__addressPart">{{ billingAddress.region }}&nbsp;{{ billingAddress.postalCode }}</div>
					<div class="th-checkout__billing-address__display__addressPart">{{ billingAddress.country }}</div>
				</div>
				<div class="th-checkout__billing-address__display__addressPart">{{ billingAddress.phoneNumber }}</div>
			</div>
		</div>
	</div>

	<div class="th-checkout__billing-address__location"
		 data-ng-switch-when="edit" data-ng-show="!check.useShippingAddress">
		<div class="btn-group">
			<button type="button" data-ng-click="toggleLocation()" class="btn btn-default" data-ng-class="{ 'btn-primary' : isLocationUS }">United States</button>
			<button type="button" data-ng-click="toggleLocation()" class="btn btn-default" data-ng-class="{ 'btn-primary': !isLocationUS }">International</button>
		</div>
	</div>

	<div>
		<form id="frmBillTo" name="frmBillTo" novalidate data-ng-submit="updateBillingAddress()">
			<div class="row" data-ng-switch-when="edit" data-ng-show="!check.useShippingAddress">
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text"
							   id="inputBillingUSFirstName" name="inputBillingUSFirstName"
							   class="form-control input-lg immediate-help"
							   data-vn-placeholder="First Name"
							   data-ng-model="billingAddress.firstName"
							   data-ng-blur="updateBillingAddress()"
							   data-vn-first-name-validate required/>

						<data-vn-popover-first-name />

					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text"
							   id="inputBillingUSLastName"  name="inputBillingUSLastName"
							   class="form-control input-lg -right immediate-help"
							   data-vn-placeholder="Last Name"
							   data-ng-model="billingAddress.lastName"
							   data-ng-blur="updateBillingAddress()"
							   data-vn-last-name-validate required/>

						<data-vn-popover-last-name />

					</div>
				</div>
			</div>
			<div class="row" data-ng-switch-when="edit" data-ng-show="!check.useShippingAddress">
				<div class="col-xs-12">
					<div class="form-group">
						<input type="text"
							   id="inputBillingUSAddressaddress1" name="inputBillingUSAddressaddress1"
							   class="form-control input-lg immediate-help"
							   data-vn-placeholder="Address Line 1"
							   data-ng-model="billingAddress.address1"
							   data-ng-blur="updateBillingAddress()"
							   data-vn-street-validate required/>

						<data-vn-popover-address />

					</div>
				</div>
			</div>
			<div class="row" data-ng-switch-when="edit" data-ng-show="!check.useShippingAddress">
				<div class="col-xs-12">
					<div class="form-group">
						<input type="text"
							   id="inputBillingUSAddressLine2" name="inputBillingUSAddressLine2"
							   class="form-control input-lg"
							   data-vn-placeholder="Address Line 2"
							   data-ng-model="billingAddress.address2"/>
					</div>
				</div>
			</div>
			<div class="row" data-ng-show="isLocationUS" data-ng-switch-when="edit" data-ng-hide="check.useShippingAddress">
				<div class="col-xs-5">
					<div class="form-group">
						<input type="text"
							   id="inputBillingUSCity" name="inputBillingUSCity"
							   class="form-control input-lg immediate-help"
							   data-vn-placeholder="City"
							   data-ng-model="billingAddress.city"
							   data-ng-blur="updateBillingAddress()"
							   data-vn-city-validate required/>

						<data-vn-popover-city />

					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<div class="th-checkout__ship-to__state th-dropdown">
							<button id="inputShipToUSState" name="inputShipToUSState"
									class="btn btn-default btn-lg dropdown-toggle form-control"
									data-toggle="dropdown"
									data-ng-class="{ 'ng-invalid': billingAddress.state === '', 'ng-valid': stateEmpty === 'valid' }"
									data-vn-placeholder="State"
									data-ng-model="address.state"
									value="{{ billingAddress.state }}" >

								{{ billingAddress.state }}<span class="caret"></span>
							</button>

							<!--<data-vn-popover-state />-->

							<ul class="dropdown-menu">
								<li ng-repeat="state in usStates track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onUsStateChanged(state); updateBillingAddress()">

										{{ state.name }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group">
						<input type="text"
							   id="inputBillingUSZip" name="inputBillingUSZip"
							   class="form-control input-lg immediate-help"
							   data-vn-placeholder="Zip"
							   data-ng-blur="updateBillingAddress('zip')"
							   data-ng-model="billingAddress.postalCode"
							   data-vn-zip-validate required/>

						<data-vn-popover-zip />

					</div>
				</div>
			</div>
			<div class="row" data-ng-show="!isLocationUS && !check.useShippingAddress" data-ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label sr-only" for="inputBillingWorldwideCity"></label>
						<input type="text"
							   id="inputBillingWorldwideCity" name="inputBillingWorldwideCity"
							   class="form-control input-lg"
							   data-vn-placeholder="City"
							   data-ng-model="billingAddress.city"/>
					</div>
				</div>
			</div>
			<div class="row" data-ng-show="!isLocationUS && !check.useShippingAddress" data-ng-switch-when="edit">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label sr-only" for="inputBillingWorldwideRegion"></label>
						<input type="text"
							   id="inputBillingWorldwideRegion" name="inputBillingWorldwideRegion"
							   class="form-control input-lg"
							   data-vn-placeholder="Region"
							   data-ng-model="billingAddress.region"/>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label sr-only" for="inputBillingWorldwidePostalCode"></label>
						<input type="text"
							   id="inputBillingWorldwidePostalCode" name="inputBillingWorldwidePostalCode"
							   class="form-control input-lg"
							   data-vn-placeholder="Postal code"
							   data-ng-model="billingAddress.postalCode"/>
					</div>
				</div>
			</div>
			<div class="row" data-ng-show="!isLocationUS && !check.useShippingAddress" data-ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="th-checkout__ship-to__country th-dropdown">
							<button id="inputBillingWorldwideCountry" name="inputBillingWorldwideCountry"
									class="btn btn-default bnt-lg dropdown-toggle form-control"
									data-toggle="dropdown"
									data-vn-placeholder="Country"
									data-ng-model="billingAddress.country"
									value="{{ billingAddress.country }}">

								{{ billingAddress.country }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="country in countries track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onCountryChanged(country)">

										{{ country.name }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row" data-ng-switch-when="edit" data-ng-show="!check.useShippingAddress">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label sr-only" for="inputBillingUSPhoneNumber"></label>
						<input type="text"
							   id="inputBillingUSPhoneNumber" name="inputBillingUSPhoneNumber"
							   class="form-control input-lg"
							   data-vn-placeholder="Phone Number"
							   data-ng-model="billingAddress.phoneNumber"
							   data-ng-blur="updateBillingAddress()"
							   data-vn-format-us-phone-number/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
