
<div class="th-checkout__ship-to" data-ng-controller="ShipToCtrl" data-ng-switch="isEditable()">

	<div class="th-checkout__ship-to__location" data-ng-switch-when="edit">
		<a href data-ng-click="toggleLocation()">
			<img src="{{ checkout.location.image }}" alt="{{ checkout.location.label }}" />
		</a>
	</div>

	<div class="th-checkout__ship-to__display" data-ng-switch-when="show">
		<div class="row">
			<div class="col-xs-12">
				<span>{{ address.fname }}&nbsp;{{ address.lname }}</span>
				<br />
				<span>{{ address.line1 }}</span>
				<br />
				<span data-ng-if="address.line2 != ''">{{ address.line2 }}</span>
				<br data-ng-if="address.line2 != ''" />
				<span data-ng-show="isLocationUS">{{ address.city }},&nbsp;{{ address.state }}&nbsp;{{ address.zip }}</span>
				<br />
				<div class="row" data-ng-show="!isLocationUS">
					<span>{{ address.city }}</span>
					<br/>
					<span>{{ address.region }}&nbsp;{{ address.postalcode }}</span>
					<br/>
					<span>{{ address.country }}</span>
					<br />
				</div>
				<span>{{ address.phone }}</span>
			</div>
		</div>
	</div>

	<div>
		<form id="frmShipTo" name="frmShipTo" novalidate data-ng-submit="updateShippingAddress()">
			<div class="row" data-ng-switch-when="edit">
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text"
							   id="inputShipToUSFirstName" class="form-control immediate-help"
							   data-vn-placeholder="First Name"
							   data-ng-model="address.fname"
							   data-ng-blur="updateShippingAddress()"
							   data-first-name-validate required/>
						<div class="input-help bottom">
							<div class="arrow"></div>
							<h4>First name must:</h4>
							<ul>
								<li ng-class="firstNameMinValidLength">Be at least <strong>1 letter long</strong></li>
								<li ng-show="firstNameDisallowedChars != null" ng-class="firstNameAllowedChars" >Not contain <strong>{{ firstNameDisallowedChars.join("") }}</strong></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group -right">
						<input type="text" id="inputShipToUSLastName"
							   class="form-control -right immediate-help"
							   data-vn-placeholder="Last Name"
							   data-ng-model="address.lname"
							   data-ng-blur="updateShippingAddress()"
							   data-last-name-validate required />
						<div class="input-help bottom-right">
							<div class="arrow"></div>
							<h4>Last name must:</h4>
							<ul>
								<li ng-class="lastNameMinValidLength">Be at least <strong>1 letter long</strong></li>
								<li ng-show="lastNameDisallowedChars != null" ng-class="lastNameAllowedChars">Not contain <strong>{{ lastNameDisallowedChars.join("") }}</strong></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<input type="text" id="inputShipToUSAddressLine1"
							   class="form-control immediate-help"
							   data-vn-placeholder="Address Line 1"
							   data-ng-model="address.line1"
							   data-ng-blur="updateShippingAddress()"
							   data-street-validate required />
						<div class="input-help bottom">
							<div class="arrow"></div>
							<h4>Address must:</h4>
							<ul>
								<li ng-class="streetEmpty">Not be <strong>empty</strong></li>
								<li ng-show="streetDisallowedChars != null" ng-class="streetAllowedChars" class="valid">Not contain <strong>{{ streetDisallowedChars.join("") }}</strong></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<input type="text" id="inputShipToUSAddressLine2"
							   class="form-control"
							   data-vn-placeholder="Address Line 2"
							   data-ng-model="address.line2"/>
					</div>
				</div>
			</div>
			<div class="row" data-ng-show="isLocationUS" data-ng-switch-when="edit">
				<div class="col-xs-5">
					<div class="form-group">
						<input type="text" id="inputShipToUSCity"
							   class="form-control immediate-help"
							   data-vn-placeholder="City"
							   data-ng-model="address.city"
							   data-ng-blur="updateShippingAddress()"
							   data-city-validate required />
						<div class="input-help top-left">
							<div class="arrow"></div>
							<h4>City must:</h4>
							<ul>
								<li ng-class="cityEmpty">Not be <strong>empty</strong></li>
								<li ng-show="cityDisallowedChars != null" ng-class="cityAllowedChars" class="valid">Not contain <strong>{{ cityDisallowedChars.join("") }}</strong></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<div class="th-checkout__ship-to__state th-dropdown">
							<button class="btn btn-default dropdown-toggle form-control"
									data-toggle="dropdown"
									data-ng-class="{ 'ng-invalid': address.state === '' }">

								{{ address.state }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="state in usStates track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onUsStateChanged(state)">

										{{ state.name }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group -right">
						<input type="text" id="inputShipToUSZip" name="inputShipToUSZip"
							   class="form-control immediate-help"
							   data-vn-placeholder="Zip"
							   data-ng-blur="updateShippingAddress('zip')"
							   data-ng-model="address.zip"
							   data-zip-validate required />
						<div class="input-help top">
							<div class="arrow"></div>
							<h4>Zip code must:</h4>
							<ul>
								<li ng-class="zipHasValidFormat">Be formatted as 99999[-9999]</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-ng-show="!isLocationUS" data-ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label sr-only" for="inputShipToWorldwideCity"></label>
						<input type="text" id="inputShipToWorldwideCity"
							   class="form-control"
							   data-vn-placeholder="City"
							   data-ng-model="address.city"/>
					</div>
				</div>
			</div>
			<div class="row" data-ng-show="!isLocationUS" data-ng-switch-when="edit">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label sr-only" for="inputShipToWorldwideRegion"></label>
						<input type="text" id="inputShipToWorldwideRegion"
							   class="form-control"
							   data-vn-placeholder="Region"
							   data-ng-model="address.region"/>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label sr-only" for="inputShipToWorldwidePostalCode"></label>
						<input type="text" id="inputShipToWorldwidePostalCode"
							   class="form-control"
							   data-vn-placeholder="Postal code"
							   data-ng-model="address.postalcode"/>
					</div>
				</div>
			</div>
			<div class="row" data-ng-show="!isLocationUS" data-ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="th-checkout__ship-to__country th-dropdown">
							<button class="btn btn-default dropdown-toggle form-control"
									data-toggle="dropdown">

								{{ address.country }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="country in countries track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onCountryChanged(country)">

										{{ country.name }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row" data-ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label sr-only" for="inputShipToUSPhoneNumber"></label>
						<input type="text" id="inputShipToUSPhoneNumber"
							   class="form-control"
							   data-vn-placeholder="Phone Number"
							   data-ng-model="address.phone"/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
