<div class="th-checkout__credit-card" data-ng-controller="CreditCardCtrl" data-ng-switch="isEditable()">

	<div class="credit-card">

		<div class="credit-card__strip"></div>

		<div class="credit-card__display" data-ng-switch-when="show">
			<div class="row">
				<div class="col-xs-12">
					<span class="credit-card__display--bold">{{ payment.ccNumber | vnCreditCard }}</span>
					<br />
					<span>{{ displayExpDate() }}</span>
					<br />
					<img src="" class="credit-card__display__image" data-ng-class="payment.ccCssClass" />
				</div>
			</div>
		</div>

		<form id="frmCreditCard" name="frmCreditCard" novalidate data-ng-submit="updateCreditCard()">
			<div class="row" ng-switch-when="edit">
				<div class="col-xs-9">
					<div class="form-group">
						<input type="text"
							   id="inputCreditCardNumber" name="inputCreditCardNumber"
							   class="form-control immediate-help"
							   data-vn-placeholder="Credit card number"
							   data-ng-model="payment.ccNumber"
							   data-ng-blur="updateCreditCard('cc')"
							   data-vn-format-cc-number data-vn-cc-validate required />
						<div class="input-help top-left">
							<div class="arrow"></div>
							<h4>Credit card must:</h4>
							<ul>
								<li ng-class="creditCardValid">Be <strong>valid</strong> credit card number</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<input type="text"
							   id="inputCreditCardCVV" name="inputCreditCardCVV"
							   class="form-control immediate-help"
							   data-vn-placeholder="CVV"
							   data-ng-model="payment.ccCvv"
							   data-ng-focus="setCCImage()"
							   data-ng-blur="setCCImage('reset'); updateCreditCard('cvv')"
							   data-vn-cvv-validate required />
						<div class="input-help top">
							<div class="arrow"></div>
							<h4>CVV must:</h4>
							<ul>
								<li ng-class="cvvValidFormat">Be <strong>{{ cvvLength }} digits</strong> long</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-switch-when="edit">
				<div class="col-xs-3">
					<div class="form-group">
						<div class="credit-card__exp-month th-dropdown">
							<button id="inputCreditCardExpMonth" name="inputCreditCardExpMonth"
									class="btn btn-default dropdown-toggle form-control immediate-help"
									data-toggle="dropdown"
									data-ng-class="{ 'ng-invalid': payment.ccExpMonth === '' || expDateInvalid === undefined, 'ng-valid': expDateInvalid === 'valid' }"
									data-set-focus-if="expDateInvalid"
									data-vn-placeholder="MM"
									data-ng-model="payment.ccExpMonth"
									value="{{ payment.ccExpMonth }}" >

								{{ payment.ccExpMonth }}<span class="caret"></span>
							</button>
							<div class="input-help top-left -dropdown">
								<div class="arrow"></div>
								<h4>Expiration date must:</h4>
								<ul>
									<li ng-class="expDateInvalid">Be <strong>future</strong> date</li>
								</ul>
							</div>
							<ul class="dropdown-menu">
								<li ng-repeat="month in months track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onExpMonthChanged(month); updateCreditCard()">

										{{ month.label }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<div class="credit-card__exp-year th-dropdown">
							<button id="inputCreditCardExpYear" name="inputCreditCardExpYear"
									class="btn btn-default dropdown-toggle form-control"
									data-toggle="dropdown"
									data-ng-class="{ 'ng-invalid': payment.ccExpYear === '' || expDateInvalid === undefined }"
									data-vn-placeholder="YY"
									data-ng-model="payment.ccExpYear"
									value="{{ payment.ccExpYear }}">

								{{ payment.ccExpYear }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="year in rangeYears() track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onExpYearChanged(year); updateCreditCard()">

										{{ year }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-switch-when="edit">
				<div class="col-xs-12">
					<div class="form-group">
						<img src="" class="credit-card__image" data-ng-class="payment.ccCssClass" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
