<div class="th-checkout__credit-card" data-ng-controller="CreditCardCtrl" data-ng-switch="isEditable()">

	<div class="credit-card">

		<div class="credit-card__strip"></div>

		<div class="credit-card__display" data-ng-switch-when="show">
			<div class="row">
				<div class="col-xs-12">
					<span class="credit-card__display--bold">{{ payment.ccNumber }}</span>
					<br />
					<span>{{ displayExpDate() }}</span>
					<br />
					<img src="" class="credit-card__display__image" data-ng-class="payment.ccCssClass" />
				</div>
			</div>
		</div>

		<form id="frmShipTo" name="frmCreditCard" novalidate data-ng-submit="updatePayment()">
			<div class="row" ng-switch-when="edit">
				<div class="col-xs-9">
					<div class="form-group">
						<label class="control-label sr-only" for="inputCreditCardNumber"></label>
						<input type="text"
							   id="inputCreditCardNumber" class="form-control immediate-help"
							   placeholder="1234 5678 9012 4567"
							   pattern="[0-9]*"
							   data-ng-model="payment.ccNumber"
							   data-format-cc-number required />
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label sr-only" for="inputCreditCardCVV"></label>
						<input type="text" id="inputCreditCardCVV"
							   class="form-control immediate-help"
							   placeholder="CVV"
							   pattern="[0-9]{4}"
							   data-ng-model="payment.ccCvv"
							   data-ng-focus="setCCImage()"
							   data-ng-blur="setCCImage('reset')"
							   data-cvv-provider="" data-cvv-validate required />
						<div class="input-help top">
							<div class="arrow"></div>
							<h4>CVV must:</h4>
							<ul>
								<li ng-class="cityEmpty">Be <strong>{{ cvvLength }} digits</strong> long</li>
								<li ng-show="cityDisallowedChars != null" ng-class="cityAllowedChars" class="valid">Not contain <strong>{{ cityDisallowedChars.join("") }}</strong></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-switch-when="edit">
				<div class="col-xs-6">
					<div>Expiration</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label sr-only" for="inputCreditCardExpMonth"></label>
						<div class="credit-card__exp-month th-dropdown">
							<button class="btn btn-default dropdown-toggle form-control"
									data-toggle="dropdown"
									data-ng-class="{ 'ng-invalid': payment.ccExpMonth === 'MM' }">

								{{ payment.ccExpMonth }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="month in months track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onExpMonthChanged(month)">

										{{ month.label }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label sr-only" for="inputCreditCardExpYear"></label>
						<div class="credit-card__exp-year th-dropdown">
							<button class="btn btn-default dropdown-toggle form-control"
									data-toggle="dropdown"
									data-ng-class="{ 'ng-invalid': payment.ccExpYear === 'YY' }">

								{{ payment.ccExpYear }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="year in rangeYears() track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onExpYearChanged(year)">

										{{ year }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-switch-when="edit">
				<div class="col-xs-9">
					<div class="form-group">
						<label class="control-label sr-only" for="inputCreditCardHolderName"></label>
						<input type="text"
							   id="inputCreditCardHolderName" class="form-control immediate-help"
							   placeholder="Name on card"
							   data-ng-model="payment.ccHolderName"
							   required />
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<img src="" class="credit-card__image" data-ng-class="payment.ccCssClass" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
