<div class="th-checkout__review" data-ng-controller="ReviewCtrl">

	<div class="review__totals clearfix">
		<div class="review__totals__count">{{ checkout.cart.totals.qty }} item(s)</div>
		<div class="review__totals__expand"><button data-ng-click="reviewItems = !reviewItems"><span></span></button></div>
		<div class="review__totals__amount">{{ checkout.cart.totals.items | currency }}</div>
	</div>

	<div class="review__items" data-ng-show="reviewItems">
		<div class="review__items__item"
			 data-ng-repeat="item in checkout.cart.items | reverse"
			 data-ng-class="{'-last': $last}">

			<div class="review__items__item-image">
				<img data-ng-src="{{ item.imgUrl }}" />
			</div>

			<div class="review__items__item-info">
				<div class="review__items__item-info--name">
					<span>{{ item.name }}</span>
				</div>

				<div class="review__items__item-info--price">{{ item.pricing.unitPrice | currency }}</div>

				<div class="review__items__item-info--option" data-ng-repeat="option in item.options">
					<span>{{ option.optionText }}</span>
				</div>

				<div class="item-info-row">
					<div class="review__items__item-info--qty">
						<span>Qty</span>&nbsp;{{ item.qty }}
					</div>
					<div class="review__items__item-info--subtotal">{{ item.pricing.subtotal | currency }}</div>
				</div>

				<div class="item-info-row" data-ng-if="item.giftWrap.price > 0">
					<div class="review__items__item-info--qty">
						<span>Gift Wrap</span>
					</div>
					<div class="review__items__item-info--subtotal">{{ item.giftWrap.price | currency }}</div>
				</div>

				<div class="item-info-row" data-ng-if="item.giftWrap.message != ''">
					<span>Message:</span>&nbsp;"{{ item.giftWrap.message }}"
				</div>
			</div>
		</div>
	</div>

	<div class="review__discounts">
		<div class="review__discounts__discount" data-ng-repeat="discount in checkout.cart.discounts">
			<div class="discount-info-row">
				<div class="review__discounts__discount-info">
					<span>{{ discount.name }}</span>
				</div>
				<div class="review__discounts__discount-info--subtotal">{{ discount.value | vnCurrency }}</div>
			</div>
		</div>
	</div>

	<div class="review__store-credit" data-ng-if="checkout.cart.customer.storeCredit != 0">
		<div class="store-credit-info-row">
			<div class="review__store-credit-info">
				<span>Store Credit</span>
			</div>
			<div class="review__store-credit-info--subtotal">{{ checkout.cart.customer.storeCredit | vnCurrency }}</div>
		</div>
	</div>

	<div class="review__shipping-method">
		<div class="shipping-method-info-row">
			<div class=review__shipping-method-info">
				<span>Shipping</span>
			</div>
			<div class="review__shipping-method-info--subtotal">{{ checkout.cart.totals.shipping | vnCurrency }}</div>
		</div>
	</div>

	<div class="review__tax">
		<div class="tax-info-row">
			<div class=review__tax-info">
				<span>Tax</span>
			</div>
			<div class="review__tax-info--subtotal">{{ checkout.cart.totals.taxTotal | currency }}</div>
		</div>
	</div>

	<div class="review__grand-total">
		<div class="grand-total-info-row">
			<div class=review__grand-total-info">
				<span>Grand Total</span>
			</div>
			<div class="review__grand-total-info--subtotal">{{ checkout.cart.totals.grandTotal | currency }}</div>
		</div>
	</div>
</div>
