%subtotal {
	font-size   : 1.5rem;
	font-family : $font-family-condensed-reg;
	position    : absolute;
	right       : 0;
	top         : -3px;
}

.th-checkout__review {
	@include border-radius(10px);
	border  : 2px solid $gray;
	padding : 10px;
	margin  : 15px;

	.review {
		&__totals {
			border-bottom : 1px solid $gray-lighter;

			&__expand {

				float : left;

				button {
					border           : none;
					background-color : transparent;
					outline          : 0;
					outline          : none;
				}

				span {
					&:after {
						font-family : 'FontAwesome';
						content     : '\f00e'; // fa-search-plus
						margin      : 0 5px;
					}
				}
			}

			&__count {
				float : left;
			}

			&__amount {
				float       : right;
				font-size   : 1.5rem;
				font-family : $font-family-condensed-reg;
			}
		}

		&__discounts {
			border-bottom : 1px solid $gray-lighter;

			&__discount {
				margin : 5px 0;

				.discount-info-row {
					position : relative;
				}

				&-info {
					text-align : left;

					&--subtotal {
						@extend %subtotal;
					}
				}
			}
		}

		&__store-credit {
			border-bottom : 1px solid $gray-lighter;

			.store-credit-info-row {
				position   : relative;
				margin     : 5px 0;
				text-align : left;
			}

			&-info {

				&--subtotal {
					@extend %subtotal;
				}
			}
		}

		&__shipping-method {
			border-bottom : 1px solid $gray-lighter;

			.shipping-method-info-row {
				position   : relative;
				margin     : 5px 0;
				text-align : left;
			}

			&-info {

				&--subtotal {
					@extend %subtotal;
				}
			}
		}

		&__tax {
			border-bottom : 1px solid $gray-lighter;

			.tax-info-row {
				position   : relative;
				margin     : 5px 0;
				text-align : left;
			}

			&-info {

				&--subtotal {
					@extend %subtotal;
				}
			}
		}

		&__grand-total {

			.grand-total-info-row {
				position   : relative;
				margin-top : 5px;
				text-align : left;
			}

			&-info {

				&--subtotal {
					@extend %subtotal;
				}
			}
		}

		&__items {

			padding    : 5px 0;
			overflow-y : scroll;
			height     : 100%;

			// Add animation
			/*-webkit-transition : all linear 0.5s;
			transition         : all linear 0.5s;*/

			/*&.ng-hide-add {
				-webkit-transition : all linear 0.5s;
				transition         : all linear 0.5s;
			}
			&.ng-hide-remove {
				-webkit-transition : all linear 0.5s;
				transition         : all linear 0.5s;
			}*/

			&--label {
				text-transform : uppercase;
			}

			&__item {

				position      : relative;
				margin-bottom : 10px;
				border-bottom : 1px solid $gray-lighter;

				&.-last {
					margin-bottom : 0;
				}

				&-image {
					float        : left;
					margin-right : 10px;

					img {
						max-height : 80px;
						max-width  : 80px;
					}
				}

				&-info {
					float         : right;
					width         : 215px;
					text-align    : left;
					margin-bottom : 5px;

					.item-info-row {
						position : relative;
					}

					&--name {
						@include ellipsis(true);
						text-transform : uppercase;
					}

					&--qty {
					}

					&--subtotal {
						@extend %subtotal;
					}
				}
			}
		}
	}
}
