<div class="header" style="height: 75px;">
	<div class="row">

		<!-- Desktop Logo -->
		<div class="hidden-xs hidden-sm">
			<a class="" href="/">
				<img src="http://www.SampleStore.io/v/vspfiles/templates/method/images/Template/header_bg.png" />
			</a>
		</div>

		<!-- Mobile Logo -->
		<div class="hidden-md hidden-lg">
			<a class="th-navbar__logo" data-ng-href="/">
				<img src="http://www.SampleStore.io/v/vspfiles/templates/method/images/Template/header_bg.png" class="img-responsive" />
			</a>
		</div>

	</div><!-- /row -->
</div>
