<div class="container header" style="height: 75px;">
	<div class="row">

		<!-- Desktop Logo -->
		<div class="hidden-xs hidden-sm">
			<a class="" href="/" style="float: left;">
				<img src="http://www.SampleStore.io/v/vspfiles/templates/method/images/Template/header_bg.png" class="img-responsive" />
			</a>

			<div style="padding-top: 25px;">
				<span>3 Step Checkout</span>
			</div>
			<br style="clear : both" />
		</div>

		<!-- Mobile Logo -->
		<div class="hidden-md hidden-lg">
			<a class="th-navbar__logo" data-ng-href="/">
				<img src="http://www.SampleStore.io/v/vspfiles/templates/method/images/Template/header_bg.png" class="img-responsive" />
			</a>
		</div>

	</div><!-- /row -->
</div>
