<div class="th-checkout__ship-method" data-ng-controller="ShipMethodCtrl" data-ng-switch="isEditable()">
	<div class="th-checkout__ship-method__seeRates" data-ng-show="checkout.cart.shippingMethods.length == 0"
		 data-ng-switch-when="edit" >
		Enter address to see rates.
	</div>

	<div class="th-checkout__ship-method__method"
		 data-ng-show="checkout.cart.shippingMethods.length > 0"
		 data-ng-switch-when="edit"
		 data-ng-repeat="method in checkout.cart.shippingMethods" >

		<div class="styled-optionbox-option">
			<input type="radio" id="{{ $index }}" name="shipping" value="true"
				   data-ng-model="method.selected"
				   data-ng-change="setShippingMethod({{ $index }})" />
			<label for="{{ $index }}" >&nbsp;&nbsp;{{ method.name }}</label>
		</div>
		<div class="th-checkout__ship-method__price">{{ method.price | vnCurrency }}</div>

	</div>

	<div class="th-checkout__ship-method__display"
		 data-ng-switch-when="show" >

		<hr />
		<div class="th-checkout__ship-method__display__name">{{ checkout.cart.shippingMethods[currentShippingMethodIdx].name }}</div>
		<div class="th-checkout__ship-method__display__price">{{ checkout.cart.shippingMethods[currentShippingMethodIdx].price | vnCurrency }}</div>
		<br style="clear: both;">
		<hr />

	</div>

</div>
