.th-checkout__billing-address {

	padding : 15px;

	&__location {
		text-align : center;
		padding    : 10px;

		&--link {
			height            : 20px;
			display           : block;
			background-repeat : no-repeat;
			margin            : 0 auto;

			&.-us {
				background-image : url('/images/us-flag.png');
				width            : 35px;
				background-size  : 35px 20px;
			}

			&.-worldwide {
				background-image : url('/images/worldwide-flag.png');
				width            : 20px;
				background-size  : 20px 20px;
			}
		}
	}

	&__country {
		position : relative;

		.dropdown-menu {
			min-width : 150px;
			width     : 100%;
		}
	}

	&__state {
		position : relative;
	}
}
