.styled-checkbox-option {

	text-align : left;

	input[type=radio] {
		+ label {
			&:before {
				content : '\f10c';
			}
		}

		&:checked {
			+ label {
				&:before {
					content : '\f192';
				}
			}
		}
	}

	input[type=checkbox] {
		+ label {
			&:before {
				content : '\f096';
			}
		}

		&:checked {
			+ label {
				&:before {
					content : '\f046';
				}
			}
		}
	}

	input {
		display : none !important;

		+ label {
			cursor    : pointer;
			font-size : $font-size-base;
			margin    : 0;

			&:before {
				font-family    : 'FontAwesome';
				font-size      : 16px;
				display        : inline-block;
				width          : 20px;
				height         : 20px;
				line-height    : 18px;
				vertical-align : middle;
				text-align     : center;
				color          : $brand-primary;
				//border: 1px solid $cg6;
				//border-radius: 2px;
				//background: $cg0;
				margin-right   : 5px;
				font-weight    : normal;
			}
		}

		&:checked {
			+ label {
				&:before {
					//color: $cg8;
					//border-color: $colorMain;
					//background: $colorInfo !important;
				}
			}
		}
	}

	&:hover {
		input {
			+ label {

				color : $gray-light;

				&:before {
					color : $gray-light;
				}
			}
		}
	}
}
