

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
 .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6,
 .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9,
 .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11,
 .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position      : relative;
	min-height    : 1px;
	padding-left  : 5px;
	padding-right : 5px;
}

.th-checkout-content {

	.col-md-4 {
		// reset padding so overlay will not shift
		padding : 0;
	}

	.img-responsive {
		margin : 0 auto;
	}

	.row {
		// reset padding and margins
		padding : 0;
		margin  : 0;
	}
}

.th-checkout {
	&__step {
		height     : 530px;
		border     : 1px solid $gray-light;
		text-align : center;

		&.-active {
			border : none;

			.th-checkout__step__overlay {
				display : none;
			}
		}

		&__overlay {
			z-index          : 9999;
			position         : absolute;
			height           : 100%;
			width            : 100%;
			background-color : $gray;

			@include opacity(0.2);
		}

		&__title {
			text-align : center;
		}

	}

	&__ship-to {
		padding : 15px;

		.dropdown-menu {
			min-width: 150px;
			width: 155px;
		}

		&__display {
			text-align: left;
		}

		&__location {
			text-align : center;
			padding    : 10px;

			img {
				height : 20px;
			}
		}

		&__country {
			position : relative;

			.dropdown-menu {
				min-width: 150px;
				width: 100%;
			}
		}

		&__state {
			position : relative;
		}

	}
}

@include respond-to(md-and-up) {
	.th-checkout-content {
	}
}

/* Large devices (large desktops, 1200px and up) */
@include respond-to(lg) {
	.th-checkout-content {
	}
}
