/*
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6,
.col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9,
.col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11,
.col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position      : relative;
	min-height    : 1px;
	padding-left  : 5px;
	padding-right : 5px;
}
*/

html, body {
	height: 100%;
}

.vn-placeholder {
	top: 14px;
	font-size: 14px;

	&.-selected {
		font-size: 11px;
		left: 12px;
		color: #999;
	}
}

.th-checkout-content {

	.col-md-4 {
		// reset padding so overlay will not shift
		/* padding : 0;*/
	}

	.img-responsive {
		margin : 0 auto;
	}

	/*
	.row {
		padding : 0;
		margin  : 0;
	}
	*/
}

.th-checkout {
	&__step {
		color: $gray-dark;
		padding: 10px 20px;
		height: 900px;

		&.-active {
			border : none;
			background-color: white;

			.th-checkout__step__overlay {
				display : none;
			}

			.th-checkout__step__edit {
				display : none;
			}
		}

		&:hover {

			.fa-pencil{
				display: inline;

			}

			.fa-check-circle-o {
				display: none;
			}
		}

		&__overlay {
			z-index          : 999;
			position         : absolute;
			height           : 100%;
			width            : 100%;
			background-color : $gray-lighter;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;

			@include opacity(0.9);

			&.-complete {
				cursor: pointer;
				@include opacity(0.6);

				&:hover {
					@include opacity(0.9);
				}
			}
		}

		&__edit {
			z-index  : 999;
			position : absolute;
			bottom   : 50%;
			left: 50%;
			margin-left: -20px;

			.fa-pencil {
				display: none;
			}
		}

		&__title {
			text-align: center;
			font-size: 2.4rem;

			&__stepNumber span {
				border-radius: 50%;
				width: 35px;
				height: 35px;
				padding-left: 2px;
				margin-right: 10px;
				background-color: $gray-dark;
				color: white;
				@include inline-block;
			}

			&__stepName {
				font-weight: bold;
				text-transform: uppercase;
				margin-top: 10px;
			}
		}

		.form-group {
			margin-bottom: 20px;

			.form-control {
				border-bottom: 1px solid #ddd;
				font-size: 1.6rem;

				&.btn-lg {
					height: 42px;
				}
			}
		}

		.th-dropdown .dropdown-toggle .caret {
			right: 4px;
			top: 18px;
		}

	}

	&__ship-to {

		.dropdown-menu {
			min-width : 150px;
			width     : 155px;
		}

		&__display {
			margin: 40px 0px 30px 0px;
			padding: 10px 10px 0px 10px;
			border-radius: 5px;
			background-color: $gray-lighter;

			&__addressPart {
				margin-bottom: 10px;
			}
		}

		&__location {
			text-align : center;
			padding    : 20px 0px 35px 0px;

//			.btn.btn-default {
//				color: $gray-dark;
//			}
//
//			.btn {
//				color: white;
//			}
		}

		&__country {
			position : relative;

			.dropdown-menu {
				min-width : 150px;
				width     : 100%;
			}
		}

		&__state {
			position : relative;
		}

	}
}

@include respond-to(md-and-up) {
	.th-checkout-content {
	}
}

/* Large devices (large desktops, 1200px and up) */
@include respond-to(lg) {
	.th-checkout-content {
	}
}
