.th-checkout__credit-card {

	padding : 15px;

	.credit-card {
		@include border-radius(10px);
		border : 2px solid $gray;
		height : 192px;

		.row {
			padding : 0;
		}

		&__display {
			text-align   : left;
			font-size    : 14px;
			padding-left : 15px;
			height       : 140px;

			&__image {
				height     : 30px;
				width      : 44px;
				position   : absolute;
				bottom     : -81px;
				right      : 23px;
				background : url('/images/sprites/creditcards-b.png') -166px 0;

			}

			&--bold {
				font-weight : bold;
			}
		}

		&__strip {
			margin           : 15px 0;
			height           : 30px;
			background-color : $gray-lighter;
		}

		&__exp-month {
			position : relative;

			.dropdown-menu {
				min-width : 130px;
				width     : 130px;
			}
		}

		&__exp-year {
			position : relative;

			.dropdown-menu {
				min-width : 60px;
				width     : 100%;

				a {
					padding : 3px 15px;
				}
			}
		}

		&__image {
			height                  : 30px;
			width                   : 44px;
			position   				: absolute;
			bottom     				: 26px;
			right      				: 26px;
			background              : url('/images/sprites/creditcards-b.png') -166px 0;

			-webkit-transform-style : preserve-3d;
			-webkit-transition      : -webkit-transform 0.3s;
			-moz-transition         : -moz-transform 0.3s;
			/* transform-style:preserve-3d; */
			transition              : transform .3s;

			&--notvalid {
				-webkit-filter : grayscale(100%);
				-moz-filter    : grayscale(100%);
				filter         : grayscale(100%);
			}

			&--flipped {
				background : url('/images/sprites/creditcards-b.png') -291px 0;
			}

			&--unknown {
				background : url('/images/sprites/creditcards-b.png') -166px 0;
			}

			&--amex {
				background : url('/images/sprites/creditcards-b.png') 1px 0;
			}

			&--amex-flipped {
				background : url('/images/sprites/creditcards-b.png') -333px 0;
			}

			&--visa {
				background : url('/images/sprites/creditcards-b.png') -41px 0;
			}

			&--mastercard {
				background : url('/images/sprites/creditcards-b.png') -83px 0;
			}

			&--discover {
				background : url('/images/sprites/creditcards-b.png') -208px 0;
			}
		}
	}

}
