.placeholder {
	@include transition-property(top);
	@include transition-duration(.3s);
	@include transition-timing-function(ease-in);

	position    : absolute;
	font-family : 'robotocondensed-regular';
	font-size   : 12px;
	color       : #777777;
	top         : 8px;
	left        : 12px;
	line-height : 14px;
	cursor      : text;

	&.-selected {
		@include transition-property(top);
		@include transition-duration(.3s);
		@include transition-timing-function(ease-out);

		top       : -10px;
		font-size : 10px;
		color     : #777777;
	}
}
