.th-checkout__ship-method {

	&__seeRates {
		border: 1px dashed #ddd;
		padding: 20px 10px;
		margin-bottom: 20px;
	}

	&__method {
		position : relative;
		margin-bottom: 20px;
	}

	&__price {
		position : absolute;
		top      : 0;
		right    : 0;
	}

	&__display {

		position: relative;

		&__name {
			width: 80%;
			float: left;
		}

		&__price {
			width: 20%;
			float: right;
			text-align: right;
		}
	}

	.styled-checkbox-option {
		input {
			+ label {
				padding-right : 55px;
				margin-left   : 30px;

				&:before {
					margin-left : -30px;
				}
			}
		}
	}
}
